.app-clock {
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    font-size: 40px;
    text-align: center;
    font-family: "Gill Sans Ultra Bold Condensed";
    font-weight: bolder;
    color: black;
}