html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #212222; /* Old browsers */
  background: -moz-linear-gradient(45deg, #45484d 1%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #45484d 1%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #45484d 1%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: auto;

}

main {
  margin: 0 auto;
  width: 50%;
}

footer {
  height: 600px;
  margin: 0 auto;
  width: 50%;
}

input {
  background: #454B53;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: bold;
  height: 17px;
  margin-top: 5px;
  padding: 5px;
  transition: .2s;
  width: 100%;
  outline: none;
}

iframe {
  margin: 0 auto;
  display: block;
}

.react-div {
  color: white;
}

.clock {
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  font-family: "Gill Sans Ultra Bold Condensed";

}


